@import url('https://fonts.googleapis.com/css?family=Ubantu:wght@300;400;500;700&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Ubantu', sans-serif;
}

:root{
	--blue: #7f7fd5;
	--white: #fff;
	--grey: #f5f5f5;
	--black1: #222;
	--black2: #999;
}
body{
	min-height:  100vh;
}
.container{
	position: relative;
	width: 100%;

}
.navigation{
	position: fixed;
	width: 250px;
	height: 100%;
	background: var(--blue);
	border-left: 10px solid var(--blue);
	transition: 0.5s;
	overflow: hidden;
}
.navigation.active{
	width: 80px;
}

.navigation ul {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}
.navigation ul li{
	position: relative;
	width: 100%;
	list-style: none;
	border-top-left-radius: 30px;
	border-bottom-left-radius: 30px;
}
.navigation ul li:hover,
.navigation ul li.hovered{
	background: var(--white);
}
.navigation ul li:nth-child(1){
	margin-bottom:40px;
	pointer-events: none;
}

.navigation ul li a{
	position: relative;
	display: block;
	width: 100%;
	display: flex;
	text-decoration: none;
	color: var(--white);
}

.navigation ul li:hover a,
.navigation ul li.hovered a{
	color: var(--blue);
}

.navigation ul li a .icon{
	position: relative;
	display: block;
	min-width: 60px;
	height: 60px;
	line-height: 60px;
	text-align: center;
}

.navigation ul li a .icon .ion-icon{
	font-size: 1.75em;
}

.navigation ul li a .title{
	position: relative;
	display: block;
	padding: 0 10px;
	height: 60px;
	line-height: 60px;
	text-align: start;
	white-space: nowrap;
}

/* Curve Outside*/

.navigation ul li:hover a::before,
.navigation ul li.hovered a::before{
	content: '';
	position: absolute;
	right: 0;
	top: -50px;
	width: 50px;
	height: 50px;
	background: transparent;
	border-radius: 50%;
	box-shadow: 35px 35px 0px 10px var(--white);
	pointer-events: none;
}

.navigation ul li:hover a::after,
.navigation ul li.hovered a::after{
	content: '';
	position: absolute;
	right: 0;
	bottom: -50px;
	width: 50px;
	height: 50px;
	background: transparent;
	border-radius: 50%;
	box-shadow: 35px -35px 0px 10px var(--white);
	pointer-events: none;
}

/*main*/

.main{
	position: absolute;
	width: calc(100% - 300px);
	left: 300px;
	min-height: 100vh;
	background: var(--white);
	transition: 0.5s;
}
.main.active{
	width: calc(100% - 150px);
	left: 130px ;
}

.topbar{
	width: 100%;
	height: 60px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 10px;
}

.toggle{
	left: -20px;
	position: relative;
	width: 60px;
	height: 60px;
	margin-left: -50px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2.5em;
	cursor: pointer;
}

.search{
	position: relative;
	width: 400px;
	margin: 0 10px;
}

.search label {
	position: relative;
	width: 100%;
}

.search label input{
	position: relative;
	width: 100%;
	height: 40px;
	border-radius: 40px;
	padding: 5px 20px;
	padding-left: 35px;
	font-size: 18px;
	outline: none;
	border: 1px solid var(--black2);

}

.search label ion-icon{
	position: absolute;
	top: 0;
	left: 10px;
	font-size: 1.2em;

}

.user{
	position: relative;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	overflow: hidden;
	cursor: pointer;
}

.user ion-icon{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.cardbox{
	position: relative;
	width: 100%;
	display: grid;
	grid-template-columns:repeat(4,1fr);
	grid-gap: 10px;
}

.cardbox .card{
	position: relative;
	background: var(--white);
	padding: 30px;
	border-radius: 20px;
	display: flex;
	justify-content: space-between;
	cursor: pointer;
	box-shadow: 0 7px 25px rgba(0,0,0,0.08);
}
.cardbox .card:hover{
	background: var(--blue);	
}
.cardbox .card:hover .number,
.cardbox .card:hover .cardName,
.cardbox .card:hover .iconbox{
	color: var(--white);
}

.cardbox .card .number{
	position: relative;
	font-weight: 300;
	font-size: 1.5em;
	color: var(--blue);
}

.cardbox .card .cardName{
	color: var(--black2);
	font-size: 1.2em;
	margin-top:5px ;
}

.cardbox .card .iconbox{
	font-size: 3.5em;
	color: var(--black2);
}

.details{
	position: absolute;
	width: 100%;
	padding: 10px;
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 10px;
}

.details .recentapproval{
	position: relative;
	display: grid;
	min-width: 500px;
	background: var(--white);
	box-shadow: 0 7px 25px rgba(0,0,0,0.08);
	border-radius: 20px;
	padding: 20px;
}

.cardheader{
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	margin-bottom: 30px;	
}

.cardheader h2{
	font-weight: 600;
	color: var(--blue);
}

.btn1{
	position: relative;
	padding:  10px;
	background: var(--blue);
	border-radius:10px;
	text-decoration: none;
	color: var(--white);
	font-weight: 600;
	box-shadow: 0 7px 25px rgba(0,0,0,0.08);
	text-align: center;
	border: 1px solid var(--black2);
}

.details table{
	width: 100%;
	border-collapse: collapse;
	margin-top: 10px;
}

.details table thead td{
	font-weight: 600;
}
.details .recentapproval table tr{
	color:var(--black1);
	border-bottom: 1px solid rgba(0,0,0,0.1);
}

.details .recentapproval table tr:last-child{
	border-bottom: none;
}


.details .recentapproval table tr{
	padding: 10px;
	text-align: center;
}

.details .recentapproval table td{
	padding: 6px;
	text-align: center;
}



/*Upload page*/



.select{
	height: 10vh;
	width: 25vw;
}

.select select{
	height: 80%;
	width: 100%;
	padding: 5px;
	text-align: center;
	font-size: 150%;
	font-weight: 500;
	color: var(--white);
	border-radius: 10px;
	background: var(--blue);
	box-shadow: 0 7px 25px rgba(0,0,0,0.08);
	border: 1px solid var(--black2);
}

.select select:hover{
	color: var(--blue);
	border-radius: 10px;
	background: var(--white);
}

.btnupload, .fileInput{
	padding:  10px;
	margin-top: 20px;
	width: 25vw;
	height: 50px;
	font-size: 130%;
	background: var(--blue);
	border-radius:10px;
	text-decoration: none;
	color: var(--white);
	font-weight: 500;
	box-shadow: 0 7px 25px rgba(0,0,0,0.08);
	text-align: center;
	border: 1px solid var(--black2);
}

.upload{
	padding:  10px;
	margin-top: 20px;
	width: 25vw;
	font-size: 130%;
	background: transparent;
	border-radius:10px;
	text-decoration: none;
	font-weight: 500;
	text-align: center;
}

.btnupload:hover, .btn1:hover, .fileInput:hover{
	color: var(--blue);
	background: var(--white);
}


/*Dropdown*/
  .dropdown {
	position: absolute;
	display: inline-block;
	font-size: 20px;
	background: var(--white);
	border-radius: 10px;
	width: 220px;
	font-weight: 500;
	text-align: center;
	z-index: 100;
	color: var(--black1);
	padding: 10px;
  }

  
  .dropdown input[type="checkbox"] {
	position: absolute;
	display: block;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	margin: 0px;
	opacity: 0;
	cursor: pointer;
  }
  
  .dropdown label {
	width: 100%;
  }
  .dropdown ul {
	text-align: left;
	position: absolute;
	top: 36px;
	border: 1px solid #ccc;
	border-radius: 3px;
	left: 0px;
	list-style: none;
	padding: 4px 0px;
	display: none;
	background-color: white;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.175);
	width: 220px;
  }
  
  .dropdown input[type="checkbox"]:checked + ul {
	display: block;
  }
  
  .dropdown ul a {
	font-size: 20px;
	background: var(--white);
	border-radius: 10px;
	width: 220px;
	font-weight: 500;
	z-index: 100;
	color: var(--black1);
	text-align: center;
	text-decoration: none;
  }
  .dropdown ul a li {
	display: block;
	padding: 6px 20px;
	white-space: nowrap;
	min-width: 100px;
  }
  
  .dropdown:hover{
	background: var(--blue);
	color: var(--white);
  }

  .dropdown ul a li:hover  {
	background:var(--blue);
	color: var(--white);
	cursor: pointer;
  }
